* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #eee;
}

button {
  padding: 0.8rem 1.5rem;
  background-color: rgb(175, 47, 47);
  color: white;
  font-weight: bold;
  border: 1px solid #383838;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(206, 106, 106);
}

input {
  height: 3rem;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid #383838;
  font-size: 1.4rem;
  width: 100%;
}
